---
import { widgets, site } from "@/config/config.json";
import DynamicIcon from "@/helpers/DynamicIcon";
import dateFormat from "@/lib/utils/dateFormat";
import { Image } from "astro:assets";
import DirectusCms from "@/lib/cms/directus";

const posts = await DirectusCms.GetAllPosts();
const featuredPosts = posts.filter((post) => post.featured);
const { featured_posts, newsletter } = widgets;
const { className } = Astro.props;
---

<aside class={`${className} px-0 lg:px-6 lg:col-4`}>
    {/* newsletter */}
    {
      newsletter.enable && (
        <div class="mt-6  rounded border border-border p-6 text-center dark:border-darkmode-border">
          <h4 class="section-title">{newsletter.title}</h4>
          <p class="mt-10 text-xs">{newsletter.content}</p>
          <form action="#" class="py-6">
            <fieldset class="relative">
              <input
                class="newsletter-input form-input h-12 w-full rounded-3xl border-none bg-theme-light px-5 py-3 pr-12 text-dark placeholder:text-xs dark:bg-darkmode-theme-dark"
                type="text"
                placeholder="email"
              />
              <DynamicIcon
                icon="FaEnvelope"
                className="absolute top-1/2 right-5 -translate-y-1/2 text-xl transition duration-75"
              />
            </fieldset>
            <button class="d-block  btn btn-primary mt-4 w-full" type="submit">
              Sign Up
            </button>
          </form>

          <p class="text-[13px] font-medium text-prirmary">
            By Singing Up, You Agree To
            <a href={newsletter.privacy_policy_page} class="ml-1">
              Privacy Policy
            </a>
          </p>
        </div>
      )
    }

  {/* featured widget */}
  {
    featured_posts.enable && (
      <div class="mt-6 rounded border border-border p-6 dark:border-darkmode-border">
        <h4 class="section-title mb-12 text-center">Featured</h4>
        <div class="mb-12 flex items-center justify-center">
          <button tab-button tab-target="featured-tab" class={`btn px-5 py-2  btn-primary`}>Featured</button>
          <button tab-button tab-target="recent-tab " class={`btn ml-3  px-5 py-2 btn-outline-primary`}>
            Recent
          </button>
        </div>

        <!---Recent post -->
        <div class="recent-tab hidden">
          {posts.slice(0, featured_posts.showPost).map((post, i, arr) => (
            <div
              class={`flex items-center ${
                i !== arr.length - 1 &&
                "mb-6 border-b border-border pb-6 dark:border-darkmode-border"
              }`}
            >
              {post.image && (
                <Image
                  class="mr-3 h-[85px] w-[85px] rounded-full object-cover"
                  src={`${site.directus_image_url}/assets/${post.image}`}
                  alt={post.title}
                  width={105}
                  height={85}
                  format="webp"
                />
              )}
              <div>
                <h3 class="h5 mb-2">
                  <a
                    href={`/posts/${post.slug}`}
                    class="block hover:text-primary"
                  >
                    {post.title}
                  </a>
                </h3>
                <p class="inline-flex items-center font-secondary text-xs">
                  <DynamicIcon className="mr-1.5" icon="FaRegCalendar" />
                  {dateFormat(post.date_created!)}
                </p>
              </div>
            </div>
          ))}
        </div>
        <!----Featured -->
        <div class="featured-tab block">
          {featuredPosts
            .slice(0, featured_posts.showPost)
            .map((post, i, arr) => (
              <div
                class={`flex items-center pb-6 ${
                  i !== arr.length - 1 &&
                  "mb-6 border-b dark:border-b-darkmode-border"
                }`}
              >
                {post.image && (
                  <Image
                    class="mr-3 h-[85px] w-[85px] rounded-full object-cover"
                    src={`${site.directus_image_url}/assets/${post.image}`}
                    alt={post.title}
                    width={105}
                    height={85}
                    format="webp"
                  />
                )}
                <div>
                  <h3 class="h5 mb-2">
                    <a
                      href={`/posts/${post.slug}`}
                      class="block hover:text-primary"
                    >
                      {post.title}
                    </a>
                  </h3>
                  <p class="inline-flex items-center font-secondary text-xs">
                    <DynamicIcon className="mr-1.5" icon="FaRegCalendar" />
                    {dateFormat(post.date_created!)}
                  </p>
                </div>
              </div>
            ))}
        </div>
      </div>
    )
  }
</aside>


<script>
  const tabButtons = document.querySelectorAll("[tab-button]") as NodeListOf<HTMLButtonElement>;
  tabButtons.forEach(button => {
    button.addEventListener("click", function(){
      tabButtons.forEach(button => {
      if(button == this)  return;
        button.classList.add("btn-outline-primary");
        button.classList.remove("btn-primary");
        const target = button.getAttribute("tab-target");
        document.querySelector( "."  + target)?.classList.remove("block");
        document.querySelector( "."  + target)?.classList.add("hidden");
      });
      const target = this.getAttribute("tab-target");
      this.classList.remove("btn-outline-primary");
      this.classList.add("btn-primary");
      document.querySelector( "."  + target)?.classList.remove("hidden");
      document.querySelector( "."  + target)?.classList.add("block");
    })
  })
</script>
