---
import InnerPagination from "@/components/InnerPagination.astro";
import Post from "@/components/post.astro";
import { disqus, settings } from "@/config/config.json";
import Disqus from "@/helpers/Disqus";
import DynamicIcon from "@/helpers/DynamicIcon";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import dateFormat from "@/lib/utils/dateFormat";
import similarItems from "@/lib/utils/similarItems";
import { markdownify } from "@/lib/utils/textConverter";
import Sidebar from "@/partials/Sidebar.astro";
import { Image } from "astro:assets";
import { type CollectionEntry, render } from "astro:content";
const { post_folder, InnerPaginationOptions } = settings;

type Props = {
  post: CollectionEntry<"posts">;
};

export async function getStaticPaths() {
  const allPosts = await getSinglePage("posts");
  const paths = allPosts.map((post) => ({
    params: {
      single: (post as any).id,
    },
    props: { post },
  }));
  return paths;
}

const { post } = Astro.props;
const { title, image, date, description, meta_title } = post.data;
const { Content } = await render(post);
const categories = await getTaxonomy(post_folder, "categories");
const postEntries = await getSinglePage("posts");
const relatedPosts = similarItems(post, postEntries);
---

<Base title={title} description={description} meta_title={meta_title}>
  <section class="section single-blog">
    <div class="container">
      <div class="row">
        <div class="lg:col-8">
          <article>
            <div class="relative">
              {
                image && (
                  <Image
                    src={image}
                    height={500}
                    width={1000}
                    alt={title ?? ""}
                    class="rounded-lg"
                    format="webp"
                  />
                )
              }
              <ul class="absolute top-3 left-2 flex flex-wrap items-center">
                {
                  categories.map((tag) => (
                    <li class="m-2 inline-flex h-7 rounded-[35px] bg-primary px-3 text-white">
                      <a
                        aria-label="categories"
                        class="capitalize"
                        href={`/categories/${tag.replace(" ", "-")}`}>
                        {tag}
                      </a>
                    </li>
                  ))
                }
              </ul>
            </div>
            {
              InnerPaginationOptions.enableTop && (
                <div class="mt-4">
                  <InnerPagination />
                </div>
              )
            }

            <h1
              class="lg:text-[42px] mt-4 mb-2"
              set:text={markdownify(title ?? "")}
            />
            <ul class="flex items-center space-x-4 mb-2">
              <li
                class="inline-flex items-center font-secondary text-xs leading-3">
                <DynamicIcon icon="FaRegCalendar" className="mr-1.5" />
                {dateFormat(date!)}
              </li>
            </ul>
            <div class="content mb-16">
              <Content />
            </div>
            {InnerPaginationOptions.enableBottom && <InnerPagination />}
          </article>
          <div class="mt-16">
            {disqus.enable && <Disqus client:load />}
          </div>
        </div>
        <Sidebar
          posts={postEntries.filter((singlePost) => singlePost.id !== post.id)}
        />
      </div>
    </div>

    {/* Related posts */}
    <div class="container mt-20">
      <h2 class="section-title">Related Posts</h2>
      <div class="row mt-16">
        {
          relatedPosts.slice(0, 3).map((post) => (
            <div class="mb-12 lg:col-4">
              <Post {...post} />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Base>
