---
import { site } from "@/config/config.json";
import EnterMsisdn from "@/partials/EnterMsisdn.astro";
import EnterPin from "@/partials/EnterPin.astro";
import Subscribe from "@/partials/Subscribe.astro";
import { Image } from "astro:assets";
const { landing } = Astro.props;
const SubTemplate = !landing.enter_msisdn && !landing.enter_pin;
---

<div class=`grid`>
  {/* Image */}
  {
    (
      <div>
        <Image
          src={`${site.directus_image_url}/assets/${landing.image}`}
          height={500}
          width={1000}
          alt={landing.name}
          format="webp"
        />
      </div>
    )
  }

  {/* CTA */}
  <div class="pt-10 pb-5 px-5">
    <Fragment set:html={landing.cta_text} />
  </div>

  {/* Enter Msisdn */}
  {landing.enter_msisdn && <EnterMsisdn landing={landing} />}

  {/* Enter Pin */}
  {landing.enter_pin && <EnterPin landing={landing} />}

  {/* Subscribe */}
  {SubTemplate && <Subscribe landing={landing} />}

  {/* Bottom Text */}
  <div class="p-10">
    <Fragment set:html={landing.bottom_text} />
  </div>

  {/* Footer */}
  <div class="flex text-center place-content-end">
    <Fragment set:html={landing.footer} />
  </div>
</div>
