---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getEntry, render } from "astro:content";

const about = (await getEntry("about", "-index")) as CollectionEntry<"about">;
const { Content } = await render(about);
const { title, image, education, experience, description, meta_title } =
  about.data;
---

<Base title={title} meta_title={meta_title} description={description}>
  <section class="section">
    <div class="container text-center">
      {
        image && (
          <div class="mb-8">
            <Image
              src={image}
              width={1298}
              height={616}
              alt={title || ""}
              class="rounded-lg"
              format="webp"
            />
          </div>
        )
      }

      <h1
        class="h1 text-left lg:text-[55px] mt-12"
        set:html={markdownify(title || "")}
      />

      <div class="content text-left">
        <Content />
      </div>

      <div class="row mt-24 text-left lg:flex-nowrap">
        <div class="lg:col-6">
          <div
            class="rounded border border-border p-6 dark:border-darkmode-border">
            <h2
              class="section-title mb-12"
              set:html={markdownify(education.title || "")}
            />

            <div class="row">
              {
                education.degrees.map((degree) => (
                  <div class="mb-7 md:col-6">
                    <h4 class="text-base lg:text-[25px]">
                      {degree.university}
                    </h4>
                    <p class="mt-2">{degree.content}</p>
                  </div>
                ))
              }
            </div>
          </div>
        </div>
        <div class="experience mt-10 lg:mt-0 lg:col-6">
          <div
            class="rounded border border-border p-6 dark:border-darkmode-border">
            <h2
              class="section-title mb-12"
              set:html={markdownify(experience.title || "")}
            />
            <ul class="row">
              {
                experience?.list?.map((item) => (
                  <li class="mb-5 text-lg font-bold text-text-dark dark:text-darkmode-text-light lg:col-6">
                    <span set:html={markdownify(item)} />
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
